body{
    background-color: #151718;
}
#head1{
    background-color: black;
    height: 80px;
}
#head2{
    background-color:  rgb(27, 26, 26);
    height: 47px;
    padding-bottom: 10px;
}
#homecontent{
    background-color: #181a1b;
    height: 1600px;
}
#categoriecontent{
    background-color: #181a1b;

}
#foot{
    background-color: black;
    height: 600px;
    margin-top: 10px;
}
#scrol{
    height: 630px;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: -3%;
}
#produit{
    margin: auto;
    background-color:rgb(36, 35, 35);
    height: 1000px;
}
#categorie{
    margin: auto;
    background-color: rgb(36, 35, 35);
}
#contenu_produit{
    margin: auto;
    background-color: rgb(36, 35, 35);
}
#carteCategorie{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#titreHome{
    height: 100px;
    margin: auto;
    padding-top: 20px;
}
#place_nom{
    height: 95px;
    padding-left: 40px;
    padding-top: 20px;
}
#place_icone{
    height: 95px;
}
#affiche_produit{
    height: 400px;
    margin: auto;
}
#place_image{
    height: 400px;
    max-height: 400px;
}
#place_descr{
    height: 400px;
}
#place_panier{
    height: 400px;
    background-color: indigo;
}
#proposition{
    height: 400px;
    margin-top: 20px;
}
#container_head1{
    height: 80px;
    margin: auto;
}
#container_menu{
    height: 40px;
    margin: auto;
}
#placeLogo{
    height: 80px;
    padding-top: 15px;
    padding-left: 40px;
}
#placeIcone{
    height: 80px;
    padding-top: 15px;
    padding-left: 15px;
}
#placeRecherche{
    padding-top: 15px;
}
.ico{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.recherche{
    height: 45px;
    width: 100%;
}
.search_bouton{
    background-color: rgb(19, 18, 18);
}
.icone_link{
    color: white;
}
.ico_menu{
    width: 15px;
    height: 15px;
}
.li_menu{
    margin-left: 10px;
}
.ico_like{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.description{
    font-size: 20px;
    margin-top: 10px;
}
#place_prix{
    height: 60px;
}
#prix{
    height: 60px;
    margin: auto;
    font-size: 25px;
    padding-left: 0%;
    padding-top: 10px;
}
#place_form{
    height: 120px;
}
#quantite{
    height: 50px;
    margin: auto;
}
#ajoute{
    height: 50px;
    margin: auto;
    padding-top: 10px;
}
#boutton_ajout{
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    background-color: orange;
}
#place_status{
    height: 100px;
    margin: auto;
}
#status{
    height: 30px;
    background-color: rgb(247, 247, 247);
    padding-left: 80px;
}
.dispo{
    margin: auto;
    font-size: 15px;
    margin-top: 5px;
}
#val_status{
    background-color: lightgrey;
    height: 70px;
    padding-top: 17px;
    padding-left: 75px;
    color: lightgreen;
}
.panier{
    height: 500px;
}
#photo_categorie{
    width : 200px;
    height: 200px;
}
#total{
    height: 100px;
    padding-top: 20px;
}
#vider{
    height: 100px;
    padding-top: 20px;
}
#vide{
    height: 700px;
}
#panier_vide{
    height: 100px;
    padding-top: 15px;
}
#cart{
    margin-left: 20%;
    margin-top: 5%;
    width: 60%;
    height: 60%;
}
.panier_text{
    font-size: 250%;
}
